debhelper-build-stamp
.DS_Store
.debhelper
*.deb
*.dsc
*.build
*.buildinfo
*.changes
*.tar.gz
*.log
*.substvars
*/debian/files
*/debian/fortune-dhp/
*/debian/fortune-dhp.*


*/dhp/*.dat

*.debian.tar.xz
*.asc

.git
*/files
*.err
*.bzr

# Ignore build artifacts
*.deb
*.changes
*.buildinfo
*.build
*.pc

# Ignore directories containing package build artifacts
*/debian/tmp
*/debian/.debhelper

# Ignore package source directories
*/debian/*/source
BUILD_DIR*
