[Desktop Entry]
Name=Fortune Dhammapada
GenericName=Fortune Dhammapda
Comment=Fortune Dhammapada Quote
Exec=sh -c 'fortune-dhp -a'
Icon=dhp-lotus
Terminal=true
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Game;
Version=1.0
